html, body {
    background-color: #181818;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h2 {
    padding-bottom: 20px;
}

.form-container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Share Tech Mono", monospace;
    color: white;
    margin: 40px;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 15px
}

.btn {
    color: white;
    background-color: #CC00FF;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0029FF;
    transition: 0.3s;
    cursor: pointer;
}

.form-group {
    width: 100%;
}

input {
    width: 100%;
    height: 30px;
    border: none;
    background-color: #3e3e3e;
    color: white;
    outline: none;
    font-family: "Share Tech Mono", monospace;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    width: 100%;
    height: 80px;
    resize: none;
    border: none;
    background-color: #3e3e3e;
    color: white;
    outline: none;
    font-family: "Share Tech Mono", monospace;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

::placeholder {
    color: rgb(199, 199, 199);
}

.reward::placeholder {
    color: #a07e00;
}

.form-group .reward {
    color: #FFC700;
}
