body {
    width: 100%;
    height: 83.5%;
    /* overflow: hidden; */
    background-color: #181818;
}

.bg {
    position: relative;
    width: inherit;
    height: 100%;
    background-color: #181818;
    z-index: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

hr {
    width: 1200px;
}

.text-container {
    font-family: "Share Tech Mono", monospace;
    margin-top: 2rem;
    width: 80%;
}

.table {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin-top: 20px;
    table-layout: auto;
    width: 100%;
    border-spacing: 0 13px;
}

.table thead {
    background-color: #3e3e3e;
    width: 100%;
    border-radius: 20px;
}

.table thead tr {
    background-color: #3e3e3e;
    width: 100%;
    border-radius: 20px;
}

.table th {
    padding: 10px 20px 10px 20px;
    text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
}

.table tbody {
    background-color: #222222;
}

.table thead th {
    color: #d3d3d3;
    text-align: left;
    text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
}

/* first */

.table tbody .first-container{
    box-shadow:0px 0px 7px #FFC700;
}

.table tbody .first {
    color: #FFC700;
    font-size: 30px;
}

.table tbody .earnings-first {
    color: #FFC700;
    font-size: 30px;
}

/* second */

.table tbody .second-container {
    box-shadow: 0 0 7px #d6d6d6;
}

.table tbody .second {
    color: #d6d6d6;
    font-size: 25px;
}

.table tbody .earnings-second {
    color: #d6d6d6;
    font-size: 25px;
}

/* third */

.table tbody .third-container {
    box-shadow: 0 0 7px #b97f03;
}

.table tbody .third {
    color: #9d7111;
}

.table tbody .earnings-third {
    color: #9d7111;
}

/* normal */

.table tbody {
    color: #abacae;
}

.table td {
    padding: 10px 20px 10px 20px;
    text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
    color: #CC00FF;
}

.table tbody .earnings {
    color: #CC00FF;
}

.text-container .desc {
    font-size: 30px;
    margin: 5px;
    color: #FFC700;
    text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
    text-align: center;
}

.leaderboard-container {
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
